# Copy this file to .env and replace with your local values.
MISTSHIP_SECRETS_DIR=.secret
TALOSCONFIG="$MISTSHIP_SECRETS_DIR/talosconfig"
KUBECONFIG="$MISTSHIP_SECRETS_DIR/kubeconfig"
CLUSTER_SECRETS="$MISTSHIP_SECRETS_DIR/cluster-secrets.yaml"
GENERATED_CONFIG_DIR="$MISTSHIP_SECRETS_DIR/generated"
CLUSTER_NAME=mistship
INSTALL_DISK=/dev/sda
TALOS_VERSION=v1.12.6
SCHEMATIC_ID=077514df2c1b6436460bc60faabc976687b16193b8a1290fda4366c69024fec2
INSTALL_IMAGE="factory.talos.dev/installer/$SCHEMATIC_ID:$TALOS_VERSION"
CONTROL_PLANE_IP=192.0.2.11
CONTROL_PLANE_CONFIG="$MISTSHIP_SECRETS_DIR/nodes/controlplane.yaml"
WORKER_CONFIG="$MISTSHIP_SECRETS_DIR/nodes/worker.yaml"
